Murmur/bin/
Murmur/obj/
MurmurAdapter/bin/
MurmurAdapter/obj/
MurmurPlugin/bin/
MurmurPlugin/obj/
MurmurVersionCompiler/bin/
MurmurVersionCompiler/obj/
MurmurVersionCompiler/slice2cs/
MurmurTest/
.localhistory/
*.suo
*.user
*.prr
*.xas
